APP_NAME="Auralith Maps"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://fr-map.ru
APP_DOMAIN=fr-map.ru

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=parkfree
DB_USERNAME=parkfree
DB_PASSWORD=change_this_database_password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.fr-map.ru

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@fr-map.ru"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
YANDEX_MAPS_API_KEY=your_key_here
AURALITH_ADMIN_EMAIL=admin@example.com

RUN_MIGRATIONS=true
