{
    admin off
}

(app) {
    root * /app/public
    encode zstd br gzip
    php_server
    file_server
}

{$APP_DOMAIN:park.auralith.ru} {
    import app
}

http://{$APP_IP:185.117.152.106} {
    import app
}
